/* font-family: 'Lato', sans-serif; */

/* font-family: 'Dosis', sans-serif; */

/* font-family: 'Sniglet', cursive; */

/* common start*/
body{
    background-image: url(/Images/background.jpg);
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    
    
}
/* comon end */

/* header start */
header{
    background-color: #ffd338;
}
.nav_t_c{
    color: rgba(216, 70, 114, 0.55) !important;
    border-color: rgba(13, 161, 92, 0.1) !important;
}
}
.menu ul li a{
    font-size: 18px;
    font-weight: 700;
    color: white !important;
    padding: 3px 20px !important;
    border-radius: 15px;
}
.menu ul li a:hover{
    background-color: #F05C5C;
}
.d_user{
    
}
.d_user a, .d_search a{
    color: white;
}
.d_user a:hover, .d_search a:hover{
    color: #F05C5C;
}
.d_user a:focus, .d_search a:focus{
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(240 92 92);
    opacity: .3;
}
.d_user ul, .d_search ul{
    background-color: #ffd338;
}
.d_search{
    
}
.d_user ul{
    top: 150%;
    left: -100px;
}
.d_search ul{
    top: 150%;
    left: -236px;
    min-width: 20rem;
}
button{
    margin-top: 3px;
    padding: 0 5px;
}
/* background-color: #ffd338; */
/* header end */
/* banner section start */
.banner{
    background-image: url(/Images/education_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.b_content{}
.b_content h1{
    margin-top: 250px;
    margin-bottom: 330px;
    font-weight: 700;
    font-size: 48px;
    color: #1ec0ff;
}
.scroll{}
.scroll p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.scroll i{
    font-size: 40px;
    color: #bbbbbb;
}
/* banner section end */
/* kid1 Start */
.kid1{
    padding-top: 90px;
    padding-bottom: 90px;
}
.c_content{
    margin-bottom: 50px;
}
.c_h1{
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.c_border{
    font-family: 'Sniglet', cursive;
    font-size: 30px; 
    font-weight: 700;
    color: white;
    
}
.kid1_content{}
.kid1_content h2{
    font-size: 24px;
    font-weight: 700;
}
.kid1_content hr{
    width: 160px;
    height: 3px;
    color: #9b9595;
}
.kid1_content p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 30px;
}
.kid1_img img{
    border-radius: 20px;
}


/* kid1 End */



/* .banner {
    background-image: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ban_content h1 {
    margin-top: 300px;
    margin-bottom: 310px;
    font-size: 48px;
    font-weight: 700;
    color: #1ec0ff;
} */